click==8.0.1
feedparser==6.0.8
flake8==3.9.2
google-api-core==1.31.1
google-auth==1.34.0
google-cloud-core==1.7.2
google-cloud-storage==1.41.1
google-crc32c==1.1.2
google-resumable-media==1.3.3
googleapis-common-protos==1.53.0
ipython==7.23.1
librosa
lxml==4.6.3
packaging==21.0
pytest==6.2.4
PyYAML==5.4.1
